.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 0;
}

.header-link {
    text-decoration: none;
    color: lightgreen;
}

.header h2 {
    font-size: 2rem;
    font-weight: 300;
}

.header h2:hover {
    color: lightblue;
    text-decoration: underline;
    font-size: 2.5rem;
}