.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5;
    box-sizing: border-box;
    width: 100%;
}

.home-main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.home-main-text {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: space-around;
    grid-template-columns: 1fr 2fr;
}

.home-main-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40vh;
}

.home-main-image img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

